<!-- Index.cshtml -->
@model WebApplication1.Models.User

<form method="post">
    <label>Ім'я:</label>
    <input type="text" name="Name" required><br>
    <label>Вік:</label>
    <input type="number" name="Age" required><br>
    <button type="submit">Підтвердити</button>
</form>
